*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockquote{
    width: 350px;
    max-height: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(236, 228, 228)
}

.blockquote>header{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 3px;
}

.blockquote>p{
    position: relative;
    top: 30px;
    left: 30px;
}

.fa-quote-left{
    font-size: 50px;
}

.fa-shuffle{
    font-size: 25px;
}

.btnShufle{
    color:rgb(236, 228, 228);
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 87%;
}